header {
    .menu-dropdown {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      
      button {
        &.btn-link {
          background: none;
          border: none;
          color: inherit;
          text-decoration: underline;
          cursor: pointer;
          font-size: 16px;
          
          &:hover {
            text-decoration: none;
          }
        }
        
        &.dropdown-toggle {
          &:focus {
            box-shadow: none;
          }
        }
      }
    }
  }